<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">  
    <div class="main-wrapper">
  
      <!-- HEADER -->
      <div class="header clearfix">
        <app-topbar></app-topbar>
        <app-header-menu></app-header-menu>  
      </div>
      
      <app-breadcrumbs></app-breadcrumbs>

       <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix blogPage">
        <div class="container">
          <div class="row">

            <router-outlet></router-outlet>
            
            <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8 col-xs-12 sideBar">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                <a href="blog-left-sidebar.html#" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></a>
              </div>
              <app-nav-menu></app-nav-menu>
            </div>
          </div>
        </div>
      </section>

      <app-footer></app-footer>
    </div>
    <app-login></app-login>  
    <app-registration></app-registration>
  
  
