<!-- TOPBAR -->
<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <ul class="list-inline">
          <li><a href="blog-left-sidebar.html#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="blog-left-sidebar.html#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="blog-left-sidebar.html#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="blog-left-sidebar.html#"><i class="fa fa-vimeo"></i></a></li>
          <li><a href="blog-left-sidebar.html#"><i class="fa fa-tumblr"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul class="list-inline pull-right">
          <li><span><a data-toggle="modal" href='blog-left-sidebar.html#login'>Log in</a><small>or</small><a data-toggle="modal" href='blog-left-sidebar.html#signup'>Create an account</a></span></li>
        </ul>
      </div>
    </div>
  </div>    
</div>