<div class="row">
  <div class="col-xs-12">
    <form action="blog-single-left-sidebar.html" method="POST" role="form" class="commentsForm">
      <h3>Leave Comments</h3>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Name">
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="form-group">
            <input type="email" class="form-control" id="" placeholder="Email">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Website">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Comment"></textarea>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary">post comment</button>
    </form>
  </div>
</div>