<div class="panel panel-default">
  <div class="panel-heading">categories</div>
  <div class="panel-body">
    <ul class="list-unstyle sidebar-list">
      <li><a href="blog-left-sidebar.html#"><i class="fa fa-caret-right" aria-hidden="true"></i>Accessories <span>(6)</span></a></li>
      <li><a href="blog-left-sidebar.html#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bag <span>(6)</span></a></li>
      <li><a href="blog-left-sidebar.html#"><i class="fa fa-caret-right" aria-hidden="true"></i>Cloths <span>(25)</span></a></li>
      <li><a href="blog-left-sidebar.html#"><i class="fa fa-caret-right" aria-hidden="true"></i>Bed &amp; Bath <span>(2)</span></a></li>
      <li><a href="blog-left-sidebar.html#"><i class="fa fa-caret-right" aria-hidden="true"></i>Swimming costume <span>(5)</span></a></li>
      <li><a href="blog-left-sidebar.html#"><i class="fa fa-caret-right" aria-hidden="true"></i>Sport Tops &amp; Shoes <span>(3)</span></a></li>
    </ul>
  </div>
</div>
<div class="panel panel-default recentBlogPosts">
  <div class="panel-heading">recent posts</div>
  <div class="panel-body">
    <div class="media">
      <a class="media-left" href="blog-single-right-sidebar.html">
        <img class="media-object" src="assets/img/blog/blog-small-01.jpg" alt="Image">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="blog-single-right-sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a></h4>
        <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
      </div>
    </div>
    <div class="media">
      <a class="media-left" href="blog-single-right-sidebar.html">
        <img class="media-object" src="assets/img/blog/blog-small-02.jpg" alt="Image">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="blog-single-right-sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a></h4>
        <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
      </div>
    </div>
    <div class="media">
      <a class="media-left" href="blog-single-right-sidebar.html">
        <img class="media-object" src="assets/img/blog/blog-small-03.jpg" alt="Image">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="blog-single-right-sidebar.html">Totam Rem Aperiam Ea queab Ipsa.</a></h4>
        <p><i class="fa fa-calendar" aria-hidden="true"></i>5 March, 2016</p>
      </div>
    </div>
  </div>
</div>
